.navbar {
  position: fixed;
  top: 0;
  background-color: #343a40;
  font-size: 14px;
  line-height: 16px;
  padding-top: 19px;
  padding-bottom: 23px;
  width: 100%;
  z-index: 123;
}
.navbar-item-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}
.navbar-item-link:hover {
  text-decoration: none;
}
.navbar-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.navbar-list-item {
  display: inline;
  margin: 0 40%;
}
.selected {
  color: #ffffff;
}
